<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Foodfy</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <div class="content">
        <header>
            <div class="logo">Foodfy</div>
            <div class="menu">
                <a href="/">Sobre</a>
                <a href="/">Receitas</a>
            </div>
        </header>
        <section class="header">
            <div class="text">
                <h1>As melhores receitas</h1>
                <p>
                    Aprenda a construir os melhores pratos com 
                    receitas criadas por profissionais do mundo 
                    inteiro.
                </p>
            </div>
            <img src="../public/assets/chef.png" alt="Chef">
        </section>
        <main>
            <h2>Mais acessadas</h4>

            <div class="cards">
                <div class="card">
                    <img src="../public/assets/burger.png" alt="">
                    <h3>Triplo bacon burger</h3>
                    <h5>por Jorge Relato</h5>
                </div>

                <div class="card">
                    <img src="../public/assets/pizza.png" alt="">
                    <h3>Pizza 4 estações</h3>
                    <h5>por Fabiana Melo</h5>
                </div>

                <div class="card">
                    <img src="../public/assets/espaguete.png" alt="">
                    <h3>Espaguete ao alho</h3>
                    <h5>por Julia Kinoto</h5>
                </div>

                <div class="card">
                    <img src="../public/assets/burger.png" alt="">
                    <h3>Triplo bacon burger</h3>
                    <h5>por Jorge Relato</h5>
                </div>

                <div class="card">
                    <img src="../public/assets/pizza.png" alt="">
                    <h3>Pizza 4 estações</h3>
                    <h5>por Fabiana Melo</h5>
                </div>

                <div class="card">
                    <img src="../public/assets/espaguete.png" alt="">
                    <h3>Espaguete ao alho</h3>
                    <h5>por Julia Kinoto</h5>
                </div>
            </div>
        </main>
    </div>
    <footer>
        Todos os direitos reservados, receitas Foodfy
    </footer>
</body>
</html>