{% extends "layout.njk" %}

{% block head %}
<title>Foodfy</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock head %}

{% block content %}
<section class="header">
    <div class="text">
        <h1>As melhores receitas</h1>
        <p>
            Aprenda a construir os melhores pratos com 
            receitas criadas por profissionais do mundo 
            inteiro.
        </p>
    </div>
    <img src="/assets/chef.png" alt="Chef">
</section>
<main>
    <h2>Mais acessadas</h4>
    <div class="cards">
        {% for recipe in recipes %}
            <div class="card" id="{{ recipe.id }}">
                <img src="/assets/{{ recipe.image }}" alt="{{ recipe.title }}">
                <h3>{{ recipe.title }}</h3>
                <h5>por {{ recipe.author }}</h5>
            </div>
        {% endfor %}    
    </div>
</main>

{% endblock content %}

{% block modal %}
<div class="modal-overlay">
    <div class="modal">
        <span id="close-modal" class="material-icons">close</span>
    </div>
</div>
{% endblock modal %}

{% block scripts %}
<script src="/scripts.js"></script>
{% endblock scripts %}